body {
  background: #fffdee;
}

h1 {
  color: #FF2734;
}

.project div:hover{
 background-color: #e0eaf0;
}

.container-fluid {
  width: 90%;
  margin: auto;
  /* text-align: center; */
}

.float{
  margin-left: 60px;
}

.margin{
  margin-left: 60px;
}
.project {
  margin: auto;
}

section {
  height: 400px;
}

.square {
  border: 1px solid #000;
  height: 250px;
  width:40%;
  float: left;
  margin-bottom: 30px;
  margin-top: 30px;
}

footer {
  clear: both;
}
